.board {
  position: absolute;
  width: 750px;
  border: 2px solid #03e9f4;
  color: white;
  box-shadow: 0 0 20px 10px #03e9f4;
  overflow: auto;
  overflow: hidden;
}
button {
  background-color: #03e9f4;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
a {
  color: #03e9f4;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
}
.profile {
  position: absolute;
  color: white;
  box-shadow: 0 0 20px 10px #03e9f4;
  width: 275px;
  height: auto;
  border: 2px solid #03e9f4;
  padding: 10px;
  margin: 10px;
  top: 0px;
  right: 0px;
}
.filters {
  position: absolute;
  color: white;
  box-shadow: 0 0 20px 10px #03e9f4;
  width: 275px;
  height: auto;
  border: 2px solid #03e9f4;
  padding: 10px;
  margin: 10px;
  top: 0px;
  left: 0px;
}
.post {
  margin: 50px;
  padding: 10px;
}
inputtype text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: black 1px solid;
}
image {
  height: auto;
  width: auto;
}
icon {
  position: absolute;
  color: black;
  right: 20px;
  cursor: pointer;
}
button {
  background-color: black;
  width: auto;
  height: auto;
}
